#form {
  max-width: 333px;
}

#head {
  text-align: center;
}

.image {
  margin: auto;
  width: 50%;
  padding: 10px;
  max-height: 175px;
  max-width: 175px;
}

.linkas {
  display: block;
  text-align: center;
  font-size: 12px;
  opacity: 0.9;
  text-decoration: none;
  font-size: 17px;
  color: rgb(177,151,70);
}

.butonas {
  /*background: #70b2d0;*/
  outline: none;
  text-shadow: initial;
  background-color: rgb(221,172,24);
  margin-bottom: 10px;
  background-color: rgb(221,172,24);
  color: rgb(255,255,255);
  font-size: 17px;
}

.formum {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}